<main class="container">
  <div class="row">
    <section class= "col-8">
      <h3>New Wishlist Book</h3>
      <form method="POST" action="/books">
        <div class="form-group">
          <label for="title">Title</label>
          <input type="text" class="form-control" id="title" placeholder="Title" name="title" required>
        </div>
        <div class="form-group">
          <label for="author">Author</label>
          <input type="text" class="form-control" id="author" placeholder="Author" name="author" required>
        </div>
        <div class="form-group">
          <label for="image">Image</label>
          <input type="text" class="form-control" id="image" placeholder="Picture of Book (URL)" name="image">
        </div>
        <div class="form-group">
          <label for="synopsis">Synopsis</label>
          <input type="text" class="form-control" id="synopsis" placeholder="Synopsis" name="synopsis">
        </div>
        <button type="submit" class="submit-btn btn" style="background-color: #eec3c4">Submit</button>
      </form>
    </section>
  </div>
</main>
