<h1 class="resource-title">Your Wishlists</h1>

<%# ADD USER PROFILE WITH INFORMATION %>

<div class="wishlist-container container">
  <div class="row">
    <div class="wishlists col-4">
      <a class="wishlist-links" href="/wishlists/films"><img class="wishlist-images" src="/assets/images/films.png" alt="films wishlist"></a>
    </div>
    <div class="wishlists col-4">
      <a class="wishlist-links" href="/wishlists/tvSeriess"><img class="wishlist-images" src="/assets/images/tv-series.png" alt="tv series wishlist"></a>
    </div>
    <div class="wishlists col-4">
      <a class="wishlist-links" href="/wishlists/podcasts"><img class="wishlist-images" src="/assets/images/restaurant.png" alt="restaurant wishlist"></a>
  </div>
  </div>
  <div class="row">
    <div class="wishlists col-6">
      <a class="wishlist-links" href="/wishlists/books"><img class="wishlist-images" src="/assets/images/books.png" alt="books wishlist"></a>
    </div>
    <div class="wishlists col-6">
      <a class="wishlist-links" href="/wishlists/restaurants"><img class="wishlist-images" src="/assets/images/podcasts.png" alt="podcast wishlist"></a>
    </div>
  </div>

</div>
