

<h1 class="resource-title">TV Series</h1>

<div class="container search-form">
  <form class="searchTvSeries">
    <input class="search-input-field" type="text" name="q" placeholder="Search TV Series" autocomplete="off">
    <button class="add-wishlist-button">Go!</button>
  </form>
</div>
  <div class="api-container row">
  </div>
