<nav>
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1>Add TV Series from the selection below to your Wishlist. If you can't find what you're looking for try the search bar or add one yourself</h1>
    </div>
  </div>
</nav>

<h1 class="resource-title">TV Series</h1>

<div class="container search-form">
  <form class="searchTvSeries">
    <input class="search-input-field" type="text" name="q" placeholder="Search TV Series" autocomplete="off">
    <button class="add-wishlist-button">Go!</button>
  </form>
  <div class="api-container row">
  </div>
</div>
