<nav>
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1>SEARCH FOR TV SERIES BELOW AND ADD THEM TO YOUR WATCHLIST</h1>
    </div>
  </div>
</nav>

<a class="return-button" href="/tvSeriess/new">Add New TV Series</a>


<h1 class="resource-title">TV Series</h1>
<div class="container search-form">
  <form class="searchTvSeries">
    <input class="search-input-field" type="text" name="q" placeholder="Search TV Series" autocomplete="off">
    <input class="search-button" type="submit" value="Go!">
  </form>
  <div class="series-container">
  </div>
</div>
