<main class="container">
  <div class="row">
    <section class= "col-8">
      <h3>New Wishlist Tv Series</h3>
      <form method="POST" action="/tvSeriess">
        <div class="form-group">
          <label for="title">Name</label>
          <input type="text" class="form-control" id="name" placeholder="Name" name="name" required>
        </div>
        <div class="form-group">
          <label for="year">Year</label>
          <input type="text" class="form-control" id="year" placeholder="Year Released" name="year" required>
        </div>
        <div class="form-group">
          <label for="averageRating">Average Rating</label>
          <input type="text" class="form-control" id="averageRating" placeholder="Average Rating" name="averageRating">
        </div>
        <div class="form-group">
          <label for="synopsis">Synopsis</label>
          <input type="text" class="form-control" id="synopsis" placeholder="Synopsis" name="synopsis">
        </div>
        <div class="form-group">
          <label for="image">Image</label>
          <input type="text" class="form-control" id="image" placeholder="Picture of Book (URL)" name="image">
        </div>
        <button type="submit" class="submit-btn btn" style="background-color: #eec3c4">Submit</button>
      </form>
    </section>
  </div>
</main>
