<h1>Films</h1>

<a href="/films/new">Add New Film</a>


<h2>Search for a film</h2>
<form class="searchFilms">
  <input type="text" name="q" placeholder="Search Films">
  <input type="submit" value="Go!">
</form>
<div class="film-container">

</div>
