<nav>
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1>Add films from the selection below to your Watchlist. If you can't find what you're looking for try the search bar!</h1>
    </div>
  </div>
</nav>

<a class="return-button" href="/films/new">Add New Film</a>


<h1 class="resource-title">Films</h1>
<div class="container search-form">
  <form class="searchFilms">
    <input class="search-input-field" type="text" name="q" placeholder="Search Films" autocomplete="off">
    <input class="search-button" type="submit" value="Go!">
  </form>
  <div class="api-container row">
  </div>
</div>

<div class="container">
  <div class="row">
    <% films.forEach((film) => { %>
      <div class="col-md-3 films">
      <img class="film-image" src="<%= film.image %>" alt="<%= film.title %>">

      <form method="POST" action="/wishlists/films">
      <input type="hidden" value="<%= film.id %>" name="id">
      <button>Add to Wishlist</button>
      </form>
      </div>
      <% }) %>
  </div>
</div>
