

<h1 class="resource-title">Films</h1>

<div class="search-form">
  <form class="searchFilms">
    <input class="search-input-field" type="text" name="q" placeholder="Search Films" autocomplete="off">
    <button class="add-wishlist-button"> Go</button>
  </form>
</div>
<div class="api-container row">
</div>
