<nav>
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1>SEARCH FOR FILMS BELOW AND ADD THEM TO YOUR WISHLIST</h1>
    </div>
  </div>
</nav>

<h1 class="resource-title">Films</h1>
<div class="container search-form">
  <form class="searchFilms">
    <input class="search-input-field" type="text" name="q" placeholder="Search Films" autocomplete="off">
    <input class="search-button" type="submit" value="Go!">
  </form>
  <div class="film-container">
  </div>
</div>
