
      <h3>New Wishlist Podcast</h3>
      <form method="POST" action="/podcasts">
        <div class="form-group">
          <label for="title">Title</label>
          <input type="text" class="form-control" id="title" placeholder="Title" name="title" required>
        </div>
        <div class="form-group">
          <label for="creator">Creator</label>
          <input type="text" class="form-control" id="creator" placeholder="Creator" name="creator">
        </div>
        <div class="form-group">
          <label for="synopsis">Synopsis</label>
          <input type="text" class="form-control" id="synopsis" placeholder="Synopsis" name="synopsis">
        </div>
        <div class="form-group">
          <label for="link">Link</label>
          <input type="text" class="form-control" id="link" placeholder="Link" name="link">
        </div>
        <div class="form-group">
          <label for="image">Image</label>
          <input type="text" class="form-control" id="image" placeholder="Picture of Book (URL)" name="image">
        </div>
        <button type="submit" class="submit-btn btn add-wishlist-button">Submit</button>
      </form>
